.advantages__wrapper {
  margin-top: 20px;
}

.advantages__title {

  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.advantages__subtitle {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  line-height: 24px;
  font-weight: 400px;
}

.advantages__color-wrapper {
  background-color: #f2f2f2;
}

.advantages__decor-image {
  display: none;
}

.advantages__decor-image--special {
  text-align: center;
}

.advantages__block {
  display: none;
}

.advantages__lync {
  color: $primary-color;
  text-align: center;
}

.advantages__block-wrapper {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .advantages__color-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages__list {
    width: 50%;
  }

  .advantages__block {
    display: flex;
    background-color: #f2f2f2;
  }
}

@media (min-width: $desktop-width) {
  .advantages__list {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .advantages__decor-image {
    display: block;
  }

  .advantages__decor-image--special {
    display: none;
  }
}
