.advantages__wrapper {
  margin-top: 20px;
}

.advantages__title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
  line-height: 120%;
}

.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.advantages__subtitle {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.advantages__description {
  line-height: 24px;
  font-weight: 400px;
}

.advantages__color-wrapper {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 30px;
}

.advantages__color-wrapper::before {
  content: "";
  background-color: #ffffff;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(0 100%, 0 0, 100% 0);
}

.advantages__decor-image {
  display: none;
}

.advantages__decor-image--special {
  text-align: center;
}

.advantages__block {
  display: none;
  background-color: #ffffff;
}

.advantages__lync {
  color: $primary-color;
  text-align: center;
}

.advantages__block-wrapper {
  text-align: center;
}

.advantages__title:nth-child(1) {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .advantages__color-wrapper {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages__title {
    font-size: 40px;
  }

  .advantages__list {
    width: 50%;
  }

  .advantages__block {
    display: flex;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 54px 20px 50px 20px;
  }

  .advantages__wrapper {
    margin-bottom: 40px;
  }

  .advantages__block-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .advantages__decor-image--special {
    width: 268px;
    height: 547px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__block-title {
    line-height: 30px;
  }

  .advantages__list {
    width: 812px;
    display: flex;
    justify-content: space-between;
  }

  .advantages__decor-image {
    width: 186px;
    height: 382px;
    display: block;
    margin: 0 auto;
  }

  .advantages__decor-image--special {
    display: none;
  }

  .advantages__title {
    width: 780px;
    margin: 0 auto;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantages__subtitle {
    box-sizing: border-box;
    padding: 59px 30px 20px 30px;
    font-size: 30px;
    margin-top: -100px;
    z-index: 5;
    background-color: #f2f2f2;
    width: auto;
  }

  .advantages__description {
    font-size: 18px;
  }

  .advantages__lync {
    font-size: 18px;
  }
}
