.form__subtitle {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}

.form__name-wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.form__info {
  color: $primary-color;
  line-height: 30px;
  font-weight: 400;
  text-align: start;
}

.form__name {
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 276px;
  box-sizing: border-box;
  padding: 23px 20px 23px 20px;
}

.form__name::placeholder {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form__control {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.form__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
  background-color: #2aab6d;
  width: 276px;
  border: 2px solid #2aab6d;
  border-radius: 2px;
  padding: 23px 45px 23px 45px;
}

.form__additional-info {
  text-transform: uppercase;
}

.form__wrapper--styled {
  background-color: #e5e5e5;
}

.form__wrapper:nth-child(6) .form__name {
  height: 197px;
}

.form__wrapper:nth-child(6) .form__name::placeholder {
  text-align: start;
}

.form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__input + label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  // flex-shrink: 0;
  // flex-grow: 0;
  border: 2px solid #E5E5E5;
  background-color: #ffffff;
  border-radius: 1px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input:checked + label::before {
  background-image: url("../../img/tick.png");
}

.form__input--radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 37px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.form__input[type="radio"]:checked + label::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: $primary-color;
}

@media (min-width: $tablet-width) {
  .form__name-wrapper {
    flex-direction: row;
  }

  .form__wrapper--styled {
    background-color: #ffffff;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form__wrapper:nth-child(2) {
    order: 1;
  }

  .form__wrapper:nth-child(3) {
    order: 5;
  }

  .form__wrapper:nth-child(4) {
    order: 4;
  }

  .form__wrapper:nth-child(5) {
    order: 2;
  }

  .form__wrapper:nth-child(6) {
    order: 5;
  }

  .form__wrapper:nth-child(7) {
    order: 6;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form__subtitle {
    grid-column: 1 / 3;
  }

  .form__wrapper:nth-child(4) {
    grid-column: 1 / 3;
  }

  .form__wrapper:nth-child(3) {
    grid-column: 1 / 3;

    .form__list {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
    }
  }

  .form__wrapper:nth-child(6) {
    grid-column: 1 / 3;
  }
}
