.form__subtitle {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  width: 280px;
  margin: 0 auto;
  margin-top: 44px;
}

.form__desktop-subtitle {
  display: none;
}

.form__name-wrapper {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 45px 20px 16px 20px;
  box-sizing: border-box;
}

.form__info {
  color: $primary-color;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  text-align: start;
  padding-left: 21px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

h3.form__info {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  padding-left: 0;
  width: 218px;
  margin: 0 auto;
  margin-bottom: 39px;
}

.form__name {
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid #e5e5e5;
  border-radius: 1px;
  width: 279px;
  box-sizing: border-box;
  padding: 22px 20px 20px 20px;
  margin-bottom: 26px;
}

.form__name::placeholder {
  color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form__control {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.form__list {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.form__button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 13px;
  color: #ffffff;
  background-color: #2aab6d;
  width: 276px;
  border: 2px solid #2aab6d;
  border-radius: 2px;
  padding: 23px 20px 23px 20px;
  margin-top: 26px;
  text-transform: uppercase;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }
}


.form__additional-info {
  text-transform: uppercase;
  display: block;
  margin-top: 34px;
  text-align: center;
}

.form__wrapper--styled {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 38px 22px 42px 22px;
}

.form__wrapper:nth-child(3) {
  text-align: start;
  padding-bottom: 2px;

  & .form__item {
    margin-bottom: 33px;
  }
}

.form__wrapper:nth-child(4) {
  padding-top: 30px;
  padding-bottom: 24px;

  & .form__info {
    padding-left: 23px;
  }
}

.form__wrapper:nth-child(4) .form__name {
  margin-top: 6px;
  margin-bottom: 16px;
}

.form__wrapper:nth-child(5) {
  text-align: start;
  padding-bottom: 6px;

  & .form__info {
    margin-bottom: 36px;
  }
}

.form__wrapper:nth-child(5) .form__item {
  margin-bottom: 24px;
}

.form__wrapper:nth-child(6) {
  text-align: center;
  padding-top: 32px;
}

.form__wrapper:nth-child(6) .form__info {
  padding-left: 0;
}

.form__wrapper:nth-child(6) .form__name {
  height: 200px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.form__wrapper:nth-child(6) .form__name::placeholder {
  width: 231px;
  text-overflow: ellipsis;
}

.form__wrapper:nth-child(7) {
  padding-bottom: 16px;
  padding-top: 0;
}

.form__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.form__input + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__input[type="checkbox"] + label::before {
  content: "";
  display: inline-block;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
  flex-grow: 0;
  left: 0;
  top: 0;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 1px;
  margin-right: 0.9em;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__input[type="checkbox"]:checked + label::before {
  background-image: url("../../img/tick.png");
}

.form__input[type="radio"] + label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.form__input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  width: 37px;
  height: 37px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 1.4em;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    border-color: #283645;
  }

  &:active {
    border-color: $primary-color;
  }
}

.form__input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  left: 13px;
  top: 13px;
  background-color: $primary-color;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
}

.form__contact-name {
  display: none;
  color: $primary-color;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
}

.form__additional-info-desktop {
  display: none;
  text-transform: uppercase;
  margin-top: 15px;
}

.form__name:hover {
  border-color: #283645;
}

.form__name:active {
  border-color: $primary-color;
}


@media (min-width: $tablet-width) {
  .form__subtitle {
    margin-top: 92px;
    margin-bottom: 28px;
    font-size: 18px;
    width: 490px;
  }

  .form__desktop-subtitle {
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
  }

  .form__name-wrapper {
    flex-direction: row;
    width: 640px;
    margin-bottom: 56px;
    height: 59px;

    & .form__info {
      padding-left: 0;
    }
  }

  .form__input[type="radio"]:checked + label::before {
    margin-right: 18px;
  }


  .form__name-wrapper:last-child {
    margin-bottom: 68px;
  }

  .form__contact-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
    position: relative;
  }

  .form__contact-wrapper:last-child {
    margin-bottom: 0;
  }

  .form__contact-wrapper .form__name {
    order: -1;
    width: 496px;
    margin-bottom: 17px;
  }

  .form__contact-wrapper .form__info {
    margin-bottom: 0;
  }

  .form__wrapper--styled {
    background-color: #ffffff;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form__wrapper:nth-child(2) {
    order: 1;
    padding-bottom: 0;
  }

  .form__wrapper:nth-child(2) .form__info {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .form__wrapper:nth-child(2) .form__name {
    margin-right: 20px;
    margin-bottom: 0;
    flex-grow: 1;
    margin-left: 20px;
  }

  .form__wrapper:nth-child(3) {
    order: 5;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: 616px;
    position: relative;
    padding-top: 51px;
    padding-left: 17px;
    padding-bottom: 40px;
    margin-bottom: 68px;
  }

  .form__wrapper:nth-child(3) .form__list {
    padding-left: 40px;

    & .form__item:last-child {
      margin-bottom: 0;
    }
  }

  .form__wrapper:nth-child(3) .form__info {
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    font-size: 14px;
    top: -10px;
    left: 88px;
    background-color: #ffffff;
    width: 436px;
    text-align: center;
  }

  .form__wrapper:nth-child(4) {
    order: 4;
    box-sizing: border-box;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: 616px;
    min-height: 295px;
    position: relative;
    padding-top: 36px;
    padding-bottom: 37px;
    padding-left: 56px;
    margin-bottom: 70px;
  }

  .form__contact-name {
    display: block;
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    font-size: 14px;
    top: -19px;
    left: 176px;
    background-color: #ffffff;
    width: 260px;
    text-align: center;
  }

  .form__wrapper:nth-child(5) {
    box-sizing: border-box;
    padding-left: 58px;
    padding-top: 54px;
    padding-bottom: 42px;
    position: relative;
    margin-top: 0;
    margin-bottom: 66px;
    order: 2;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: 616px;

    & .form__item:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .form__wrapper:nth-child(5) .form__info {
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    font-size: 14px;
    top: -10px;
    left: 122px;
    background-color: #ffffff;
    width: 368px;
    text-align: center;
  }

  .form__wrapper:nth-child(6) {
    order: 5;
    box-sizing: border-box;
    padding-top: 47px;
    padding-bottom: 53px;
    position: relative;
    margin-bottom: 66px;
    border: 2px solid #e5e5e5;
    border-radius: 1px;
    width: 616px;
    min-height: 289px;
  }

  .form__wrapper:nth-child(6) .form__info {
    position: absolute;
    z-index: 3;
    text-transform: uppercase;
    font-size: 14px;
    top: -7px;
    left: 175px;
    background-color: #ffffff;
    width: 260px;
    text-align: center;
  }

  .form__wrapper:nth-child(6) .form__name {
    margin-top: 0;
    margin-bottom: 0;
    width: 496px;
    height: 189px;
    padding-top: 0;
    position: relative;
  }

  .form__wrapper:nth-child(6) .form__name::placeholder {
    width: 453px;
    position: absolute;
    top: 10px;
    left: 18px;
  }

  .form__wrapper:nth-child(7) {
    padding-left: 0;
    padding-bottom: 50px;
    margin-left: 22px;
    display: flex;
    order: 6;
    flex-direction: row;
    width: 638px;
    justify-content: space-between;
  }

  .form__additional-info {
    margin-top: 0;
    display: flex;
    align-items: center;
  }

  .form__contact-wrapper::after {
    content: "";
    position: absolute;
    background-image: url("../../img/phoneicon.jpg");
    width: 60px;
    height: 60px;
    top: 8%;
    left: 81.5%;
  }

  .form__contact-wrapper:last-child::after {
    content: "";
    position: absolute;
    background-image: url("../../img/mailicon.jpg");
    width: 60px;
    height: 60px;
    top: 8%;
    left: 81.5%;
  }

  .form__wrapper:nth-child(4) .form__name {
    margin-bottom: 18px;
  }

  .form__wrapper:nth-child(4) .form__info {
    padding-left: 20px;
  }

  .form__button {
    width: 296px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 936px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 468px 468px;
  }

  .form__subtitle {
    grid-column: 1 / 3;
    margin-top: 90px;
    margin-bottom: 0;
    width: 756px;
  }

  .form__desktop-subtitle {
    display: inline;
  }

  .form__wrapper:nth-child(2) {
    padding: 0;
    margin-top: 88px;
  }

  .form__wrapper:nth-child(2) .form__info {
    padding-left: 0;
  }

  .form__name-wrapper {
    width: 450px;
  }

  .form__wrapper:nth-child(4) {
    grid-column: 1 / 3;
    width: 938px;
    display: flex;
    padding: 38px 60px 18px 58px;
    margin-bottom: 69px;
    min-height: 158px;
    justify-content: space-between;
  }

  .form__contact-name {
    left: 325px;
  }

  .form__contact-wrapper::after {
    width: 60px;
    height: 60px;
    top: 8%;
    left: 85%;
  }

  .form__contact-wrapper:nth-child(3)::after {
    left: 85%;
  }


  .form__contact-wrapper {
    margin-bottom: 0;
  }

  .form__contact-wrapper .form__info {
    width: 150px;
  }

  .form__contact-wrapper .form__name {
    width: 371px;
    padding-top: 22px;
  }

  .form__wrapper:nth-child(5) {
    width: 431px;
    margin-top: 82px;
    padding-top: 50px;
    padding-left: 74px;
    margin-left: 36px;
  }

  .form__wrapper:nth-child(5) .form__info {
    left: 32px;
  }

  .form__wrapper:nth-child(5) .form__list {
    font-size: 18px;
  }


  .form__wrapper:nth-child(3) {
    grid-column: 1 / 3;
    width: 936px;
    padding-bottom: 16px;
    margin-bottom: 65px;

    .form__list {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 1fr 1fr;
    }
  }

  .form__wrapper:nth-child(3) .form__info {
    left: 250px;
  }

  .form__wrapper:nth-child(6) {
    grid-column: 1 / 3;
    width: 936px;
    padding-top: 45px;
    padding-bottom: 40px;
    min-height: auto;
  }

  .form__wrapper:nth-child(6) .form__name {
    width: 816px;
    height: 124px;
    padding-bottom: 0;
  }

  .form__wrapper:nth-child(6) .form__info {
    left: 330px;
  }

  .form__wrapper:nth-child(7) {
    width: 939px;
    margin-left: 2px;
    padding-right: 0;
    padding-bottom: 18px;
  }

  .form__additional-info-desktop {
    display: block;
  }

  .form__additional-info {
    display: none;
  }
}
