.main-header {
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main-header__no-js {
  min-height: 325px;
}

.main-header--open-menu {
  background-color: #283645;
  z-index: 7;
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-header {
    min-height: 110px;
  }

  .main-header__no-js {
    min-height: 365px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    box-sizing: border-box;
    padding-left: 130px;
    padding-right: 130px;
    display: grid;
    grid-template-columns: 320px 3fr;
    width: 1200px;
    min-height: 110px;
  }
}
