.main-header {
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 66px;
}

.main-header__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.main-header--no-js {
  min-height: 325px;
  background-color: #283645;
  position: relative;
  width: 100%;
}

.main-header--open-menu {
  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .main-header {
    height: 110px;
  }

  .main-header__wrapper {
    width: 660px;
  }

  .main-header__no-js {
    min-height: 365px;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    box-sizing: border-box;
    width: 100%;
    min-height: 110px;
  }

  .main-header__wrapper {
    width: 1200px;
    display: grid;
    grid-template-columns: 320px 3fr;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 130px;
  }
}
