.main-header {
  box-sizing: border-box;
  width: 100%;
  height: 462px;
}

@media (min-width: $desktop-width) {
  .main-header {
    padding-left: 130px;
    padding-right: 130px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 110px;
    background-color: #000000;
  }
}
