.main-inner__subtitle {
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-inner__subtitle {
    font-size: 18px;
    width: 500px;
    margin-bottom: 78px;
    margin-top: 90px;
  }

  .main-inner__subtitle br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-inner__subtitle {
    width: 572px;
    margin-top: 90px;
    margin-bottom: 88px;
  }

  .main-inner__subtitle br {
    display: block;
  }
}
