.main-container__title br:nth-child(1) {
  display: none;
}

.main-container__wrapper {
  margin-top: -66px;
  box-sizing: border-box;
  background-color: #000000;
  background-image: url("../img/back_mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 462px;
  background-position: 0 0;
  min-height: 733px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back_mobile@2x.jpg");
  }
}

.main-container__container {
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/phone_hand.png");
  background-size: 320px 286px;
  background-position: left 40%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 733px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone_hand@2x.png");
  }
}

.main-container__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-top: 90px;
}

@media (min-width: $tablet-width) {
  .main-container__wrapper {
    margin-top: -110px;
    background-image: url("../img/back_tablet.jpg");
    background-size: 100% 729px;
    background-position: 0 0;
    justify-content: center;
    min-height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_tablet@2x.jpg");
    }
  }

  .main-container__container {
    padding-left: 20px;
    width: 660px;
    background-image: url("../img/phone_hand_tablet.png");
    background-size: 660px 545px;
    background-position: right bottom;
    justify-content: center;
    min-height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_hand_tablet@2x.png");
    }
  }

  .main-container__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 30px;
  }

  .main-container__title br:nth-child(1) {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .main-container__wrapper {
    background-image: url("../img/back_desktop.jpg");
    background-size: 100% 853px;
    padding-left: 130px;
    padding-right: 130px;
    min-height: 853px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_desktop@2x.jpg");
    }
  }

  .main-container__container {
    padding-left: 0;
    width: 1200px;
    background-image: url("../img/phone_hand_desktop.png");
    background-size: 1050px 645px;
    min-height: 853px;
    background-position: 14px bottom;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_hand_desktop@2x.png");
    }
  }

  .main-container__title {
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
    width: 300px;
    margin-top: 86px;
    margin-bottom: 36px;
  }
}
