.main-container__title {
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 95px;
}

.main-container__wrapper {
  margin-top: -66px;
  box-sizing: border-box;
  background-image: url("../img/phone-hand.png"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 286px, 320px 462px;
  background-position: 90% 40%, 0 0;
  min-height: 733px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .main-container__wrapper {
    margin-top: -110px;
    background-image: url("../img/phone_hand_tablet.png"), url("../img/back-mobile.jpg");
    background-size: 660px 545px, 660px 729px;
    background-position: -20% 99%, 0 0;
    justify-content: center;
  }

  .main-container__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .main-container__wrapper {
    background-image: url("../img/phone-hand-desktop.png"), url("../img/back-desktop.png");
    background-size: 600px 600px, 1200px 853px;
    background-position: 90% 100%, 0 0;
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
  }

  .main-container__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    height: 127px;
  }
}
