.main-nav {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: none;
}

.main-nav--nojs {
  display: block;
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    align-items: center;
  }

  .main-nav__wrapper {
    width: 700px;
  }
}
