.main-inner__subtitle {
  margin: 0 auto;
  margin-top: 54px;
  margin-bottom: 60px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-inner__subtitle {
    font-size: 18px;
    width: 500px;
    margin-bottom: 85px;
    margin-top: 100px;
  }

  .main-inner__subtitle br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-inner__subtitle {
    width: 572px;
    margin-bottom: 97px;
  }

  .main-inner__subtitle br {
    display: block;
  }
}
