.main-container__title {
  margin-top: 0;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-container__wrapper {
  box-sizing: border-box;
  padding-top: 29px;
  background-image: url("../../img/phone.png"), url("../../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 320px 286px, 320px 462px;
  min-height: 667px;
}

@media (min-width: $tablet-width) {
  .main-container__wrapper {
    background-image: url("../../img/phone-tablet.png"), url("../../img/back-mobile.jpg");
    background-size: 660px 545px, 660px 729px;
  }

  .main-container__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    height: 127px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__wrapper {
    background-image: url("../../img/phone-desktop.png"), url("../../img/back-desktop.png");
    background-size: 1050px 645px, 1200px 853px;
  }
  .main-container__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.2;
    width: 300px;
    height: 127px;
  }
}
