.page-information {
  background-color: #000000;
  background-image: url("../img/back_mobile.jpg");
  margin-top: -66px;
  background-repeat: no-repeat;
  // background-size: 100% 237px;
  min-height: 237px;
  box-sizing: border-box;
  padding-top: 66px;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back_mobile@2x.jpg");
  }
}

.page-information__title {
  margin: 0;
  font-size: 24px;
  line-height: 33px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  margin-top: 28px;
}

@media (min-width: $tablet-width) {
  .page-information {
    background-image: url("../img/back_tablet.jpg");
    background-repeat: no-repeat;
    // background-size: 100% 440px;
    min-height: 440px;
    margin-top: -110px;
    padding-top: 110px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_tablet@2x.jpg");
    }
  }

  .page-information__title {
    margin-top: 68px;
    font-size: 50px;
    line-height: 68px;
  }
}

@media (min-width: $desktop-width) {
  .page-information {
    background-image: url("../img/back-desktop-catalog.jpg");
    background-repeat: no-repeat;
    // background-size: 100% 455px;
    min-height: 395px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-desktop-catalog@2x.jpg");
    }
  }

  .page-information__title {
    margin: 0 auto;
    margin-top: 62px;
    width: 357px;
  }

  .page-information__title--form {
    width: 790px;

    & br {
      display: none;
    }
  }
}
