.page__body {
  width: 320px;
  margin: 0 auto;
}

.page__catalog-body {
  width: 320px;
  margin: 0 auto;
}

.page__form-body {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 660px;
  }

  .page__catalog-body {
    width: 660px;
    background-size: 660px 440px;
  }

  .page__form-body {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1200px;
  }

  .page__catalog-body {
    width: 1200px;
  }

  .page__form-body {
    width: 1200px;
  }
}
