.page__body {
  // width: 320px;
  width: 100%;
  margin: 0 auto;
}

.page__catalog-body {
  width: 100%;
  margin: 0 auto;
}

.page__form-body {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page__catalog-body {
    width: 100%;
    // background-size: 660px 440px;
  }

  .page__form-body {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 100%;
  }

  .page__catalog-body {
    width: 100%;
  }

  .page__form-body {
    width: 100%;
  }
}
