.post__item {
  margin: 0 auto;
}

.post__lynk {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.post__mark {
  background-color: $primary-color;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 140px;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 20px 14px 19px;
}

.post__wrapper-color {
  margin: 0 auto;
  background-color: #f2f2f2;
  width: 280px;
  box-sizing: border-box;
  padding: 25px 10px 26px 17px;
}

.post__owner {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.post__description {
  font-weight: 400;
  line-height: 24px;
}

.post__wrapper {
  position: relative;
}

.post__favorite-wrapper {
  margin-left: 18px;
}

.post__add-favorite {
  font-size: 12px;
  font-weight: 400;
}


@media (min-width: $tablet-width) {
  .post__wrapper-color--special {
    width: 620px;
  }

  .post__mark {
    top: 10%;
    left: 70%;
  }

  .post__wrapper-color {
    padding: 31px 38px 31px 30px;
    position: relative;
  }

  .post__add-favorite {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 9px;
  }

  .post__favorite-wrapper {
    order: -1;
    margin-left: 0;
  }

  .post__favorite-logo {
    display: flex;
    align-items: center;
  }

  .post__add-favorite--special {
    position: absolute;
    top: 25%;
    left: 75%;
    width: 119px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .post__wrapper-color--special {
    width: 940px;
  }
}
