.post__item {
  margin: 0 auto;
}

.post__lynk {
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.post__mark {
  background-color: $primary-color;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  width: 140px;
  font-size: 12px;
  font-weight: 700;
  line-height: 9px;
  color: #ffffff;
  text-align: center;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 20px 14px 19px;
}

.post__wrapper-color {
  margin: 0 auto;
  background-color: #f2f2f2;
  width: 280px;
  box-sizing: border-box;
  padding: 16px 10px 16px 17px;
}

.post__owner {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.post__description {
  font-weight: 400;
  line-height: 24px;
  margin-top: -2px;
  width: 252px;
  margin-bottom: 5px;
}

.post__wrapper {
  position: relative;
}

.post__favorite-wrapper {
  margin-left: 14px;
  text-transform: uppercase;
}

.post__add-favorite {
  font-size: 12px;
  font-weight: 400;
  color: $primary-color;
}


@media (min-width: $tablet-width) {
  .post__mark {
    top: 9%;
    left: 76%;
  }

  .post__wrapper-color {
    padding: 20px 30px 26px 30px;
    position: relative;
    width: 300px;
    min-height: 155px;
    display: flex;
    flex-direction: column;
  }

  .post__description {
    margin-bottom: 20px;
  }

  .post__wrapper-color--special .post__description {
    width: 520px;
    margin-bottom: 5px;

    & br {
      display: none;
    }
  }

  .post__wrapper-color--special {
    width: 620px;
    min-height: 121px;
    padding-bottom: 20px;
  }

  .post__add-favorite {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    line-height: 9px;
    margin-top: auto;
  }

  .post__favorite-wrapper {
    order: -1;
    margin-left: 0;
  }

  .post__favorite-logo {
    display: flex;
    align-items: center;
  }

  .post__add-favorite--special {
    position: absolute;
    top: 25%;
    left: 76%;
    width: 119px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .post__mark {
    top: 9%;
    left: 85%;
  }

  .post__wrapper-color--special .post__description {
    width: 874px;
  }

  .post__wrapper-color {
    padding-left: 26px;
    padding-bottom: 30px;
  }

  .post__wrapper-color--special {
    width: 940px;
    min-height: 96px;
    padding-bottom: 18px;
  }

  .post__add-favorite--special {
    top: 29%;
    left: 84%;
  }
}
