
.reviews__list {
  margin: 0;
  padding: 0;
}

.reviews__item {
  margin: 0;
  padding: 0;
}

.reviews__author-name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.reviews__text {
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}

.reviews__item:nth-child(2) {
  display: none;
}

.reviews__item:nth-child(3) {
  display: none;
}
