
.reviews__list {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.reviews__item {
  display: none;
  margin: 0;
  padding: 0;
}

.reviews__item--active {
  display: block;
}

.reviews__author-name {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  font-style: normal;
}

.reviews__text {
  text-align: center;
  line-height: 30px;
  font-weight: 400;
}

.reviews__item:nth-child(2) {
  display: none;
}

.reviews__item:nth-child(3) {
  display: none;
}

.reviews__description {
  font-size: 14px;
  display: none;
}

.reviews__wrapper {
  box-sizing: border-box;
  padding: 45px 20px 20px 20px;
  position: relative;
  margin-top: -104px;
  z-index: 3;
  background-color: #ffffff;
  width: 320px;
}

.reviews__button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews__description {
    display: block;
    text-align: center;
  }

  .reviews__text {
    font-size: 18px;
    order: -1;
    margin-bottom: 32px;
  }

  .reviews__item--active {
    display: flex;
    flex-direction: column;
  }

  .reviews__author-name {
    font-size: 20px;
  }

  .reviews__wrapper {
    width: 660px;
    margin-top: 0;
    padding-top: 26px;
    padding-bottom: 0;
  }

  .reviews__list {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-left: 130px;
    padding-right: 130px;
  }

  .reviews__item--active {
    width: 688px;
    margin: 0 auto;
    margin-top: 92px;
  }

  .reviews__list::before {
    content: "";
    background-image: url("../../img/quotes.png");
    width: 79px;
    height: 63px;
    top: 0;
    left: 46%;
    z-index: 3;
    position: absolute;
  }

  .reviews__styled-block {
    display: flex;
    justify-content: space-between;
  }

  .reviews__styled-block + div {
    display: none;
  }

  .reviews__button {
    display: block;
    border: none;
    background-color: #ffffff;

    &:hover .reviews__arrow {
      opacity: 1;
    }

    &:active .reviews__arrow {
      opacity: 0.1;
    }
  }

  .reviews__wrapper {
    width: 940px;
    margin-top: 72px;
    padding-top: 0;
  }

  .reviews__author-name {
    font-size: 24px;
  }

  .reviews__text {
    margin-bottom: 40px;
  }

  .reviews__description {
    font-size: 18px;
  }
}
