.service__wrapper {
  width: 320px;
  overflow-x: hidden;
  margin-bottom: 45px;
}

.service__list {
  border-collapse: collapse;
  margin: 0 auto;
  width: 1104px;
  background-color: #ffffff;
  margin-left: -520px;
}

.service__empty {
  background-color: #f2f2f2;
}

.service__title {
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #283645;
  width: 276px;
  height: 94px;
  border: none;
  text-transform: uppercase;
}

.service__title:nth-child(2) {
  border-right: 2px solid #f2f2f2;
}

.service__title:nth-child(3) {
  background-color: #283645;
  border-right: 2px solid #f2f2f2;
  border-left: 2px solid #f2f2f2;
}

.service__price {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #283645;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.service__item {
  box-sizing: border-box;
  padding-left: 20px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  font-size: 14px;
  background: #ffffff;
  background-repeat: no-repeat;
  width: 50%;
  height: 50%;
  background-position: 90% 0%;
}

.service__product td {
  width: 276px;
  height: 59px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.service__hide-on-mobile {
  display: none;
}


.service__subitem {
  text-transform: uppercase;
  box-sizing: border-box;
  padding-left: 20px;
}

.service__mark {

}

@media (min-width: $tablet-width) {
  .service__list {
    width: 620px;
    margin-left: 20px;
  }

  .service__title {
    width: 152px;
    height: 75px;
  }

  .service__product td {
    width: 152px;
    height: 45px;
  }

  .service__subitem {
    display: none;
  }

  .service__wrapper {
    width: 660px;
  }

  .service__item {
    width: 152px;
    height: 80%;
    background-position: 50% 50%;
  }

  .service__hide-on-mobile {
    display: table-cell;
    width: 152px;
    height: 45px;
  }
}

@media (min-width: $desktop-width) {
  .service__list {
    margin: 0 auto;
    width: 940px;
  }

  .service__title {
    width: 233px;
    height: 94px;
  }

  .service__product td {
    width: 233px;
    height: 59px;
  }

  .service__wrapper {
    width: 1200px;
  }

  .service__item {
    width: 233px;
    font-size: 18px;
  }

  .service__hide-on-mobile {
    width: 233px;
    height: 59px;
  }
}
