.settings__list {
  padding: 0;
  list-style-type: none;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 43px;
}

.settings__range {
  display: none;
}

.settings__button-wrapper {
  box-sizing: border-box;
  padding-bottom: 20px;
  position: relative;
}

.settings__range--active {
  display: block;
  position: absolute;
  left: 30%;
}

@media (min-width: $tablet-width) {
  .settings {
    width: 100%;
  }

  .settings__range {
    display: block;
  }

  .settings__range--active {
    position: relative;
    left: 0;
  }

  .settings__list {
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
  }

  .settings__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
