.site-list {
  position: relative;
  width: 320px;
  background-color: #283645;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    width: 320px;
    height: 63px;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    width: 660px;

    a {
      width: 660px;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
  }

  .site-list__item a {
    width: auto;
    line-height: 18px;
    font-weight: 400;
    border-top: none;
    border-bottom: none;
    display: flex;
    align-items: center;
  }
}
