.site-list {
  position: relative;
  background-color: #283645;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: none;
}

.site-list__item {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    z-index: 4;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
  }

  .site-list__item a {
    line-height: 18px;
    font-weight: 400;
  }
}
