.slider__toggle {
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  background-color: #283645;
  opacity: 0.3;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.slider__toggle--current {
  background: #ffffff;
  border: 3px solid #283645;
}

.slider__toggles {
  display: flex;
  justify-content: space-between;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}
