.social {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

.social__list {
  padding: 0;
  width: 180px;
  list-style-type: none;
  display: flex;
  margin: 38px auto 50px auto;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .social__list {
    margin: 0 auto;
  }
}
