.upload__image {
  display: flex;
  justify-content: center;
}

.upload__wrapper {
  background-color: #f2f2f2;
}
.upload__post {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $primary-color;
  border: 3px solid $primary-color;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload__post--cancel {
  color: #283645;
  opacity: 0.1;
  border: 3px solid #283645;
}

.upload__botton-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .upload__wrapper {
    display: flex;
    height: 50%;
  }
  .upload__botton-wrapper {
    margin-top: 50px;
    height: 20%;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .upload__botton-wrapper {
    flex-direction: row;
    margin: 50px auto;
    width: 70%;
    justify-content: space-between;
  }


}
