.upload__subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 44px;
  margin-bottom: 42px;
  text-align: center;
}

.upload__form {
  width: 100%;
  background-color: #f2f2f2;
}

.upload__image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.upload__wrapper {
  background-color: #f2f2f2;
  box-sizing: border-box;
  padding: 20px 20px 41px 20px;
}

.upload__post {
  height: 55px;
  width: 280px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $primary-color;
  border: 3px solid $primary-color;
  box-sizing: border-box;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $primary-color;
    color: #ffffff;
  }

  &:active {
    background-color: $primary-color;
    color: rgba(255, 255, 255, 0.3);
  }
}

.upload__post--cancel {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);

  &:hover {
    opacity: 0.3;
  }

  &:active {
    background-color: rgba(40, 54, 69, 0.3);
    color: rgba(255, 255, 255, 0.3);
  }

  &:focus {
    border: 3px solid rgba(40, 54, 69, 1);
  }
}

.upload__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  margin-top: 86px;
}

@media (min-width: $tablet-width) {
  .upload__image {
    width: 300px;
    height: 400px;
  }

  .upload__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 57px 20px 54px 20px;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }

  .upload__button-wrapper {
    margin-top: 60px;
    margin-left: 14px;
    height: 134px;
  }

  .upload__subtitle {
    font-size: 18px;
    margin-top: 64px;
    margin-bottom: 70px;
  }

  .upload__post {
    width: 260px;
  }
}

@media (min-width: $desktop-width) {
  .upload__button-wrapper {
    flex-direction: row;
    margin: 0 auto;
    height: auto;
    width: 410px;
    margin-left: 86px;
  }

  .upload__wrapper {
    width: 940px;
    padding: 57px 80px 57px 80px;
    margin: 0 auto;
    display: flex;
    gap: 0;
  }

  .upload__subtitle {
    margin-top: 54px;
    margin-bottom: 66px;
  }

  .upload__post {
    width: 183px;
  }

  .upload__post--cancel {
    margin-left: 44px;
  }

  .upload__form {
    margin-bottom: 42px;
  }
}
